.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  position: fixed;
  width: 100%;
  max-height: 5vh;
  top: 0;
  z-index: 1000;
  transition: top 0.4s;
}

.header-hidden {
  top: -150px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav {
  display: flex;
  margin-right: 80px;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 40px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-link:hover,
.nav-item.active .nav-link {
  text-decoration: none;
  color: #bbebc4;
}

.language-switcher {
  display: flex;
  align-items: center;
  margin-left: 40px;

}

.lang-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.lang-button:hover {
  background-color: #555;
}

.lang-button.active-lang {
  background-color: #bbebc4; 
}