.sidebar {
    position: fixed;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
  }
  
  .sidebar-icon {
    margin: 10px 40px;
    color: #bbebc4;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .sidebar-icon:hover {
    color: #bbebc4;
  }

  .sidebar::after {
    content: '';
    display: block;
    width: 4px;
    height: 30vh;
    background-color: #bbebc4;
    margin-top: 20px;
    border-radius: 2px;
  }