html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}



.App-background {
  background-color: #121416;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  opacity: 0.5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sections : global properties */
.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.section {
  position: relative;
  padding: 40px 20px;
  min-height: 80vh;
  width: 40%;
}

.section::after {
  content: '';
  position: absolute;
  left: 0;
  top: 5em;
  width: 4px;
  height: 70%;
  background-color: #bbebc4;
  border-radius: 2px;
  margin-right: 20px;
}

.title {
  font-size: 2em;
  color: #bbebc4;
}

.subtitle {
  font-size: 1.7em;
  font-weight: 400;
  color: #bbebc4;
}

.description {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: left;
}

.buttons {
  margin-top: 100px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: #282c34;
  background-color: #bbebc4;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ebd5bb;
}

#home {
  padding-top: 200px;
  
  .home-name {
    font-size: 5.5em;
    margin-top: 0px;
    color: #ebd5bb;
  }
}

#about {
}

#projects {
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
  }

  .project-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(256, 256, 256, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px;
  }

  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(256, 256, 256, 0.2);
    background: #333333;
  }

  .project-img {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
  }

  .project-details {
    padding: 20px;
  }

  .project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .project-date,
  .project-skills,
  .project-description {
    margin-bottom: 20px;
  }

  .project-skills {
    color: #bbebc4;
  }
}

#contact {
}

